In [4]:
#Importo as bibliotecas
import pandas as pd

In [5]:
#Carrega a base de vendas
dfVendas = pd.read_csv("F_vendas.csv", delimiter=",")
dfVendas.head(2)

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,1,350,45,2022-09-23,4,Online,5795.64
1,2,925,68,2024-02-09,1,Loja Física,4614.41

In [3]:
#Adiciono a coluna "ID_Campanha" ao dataFrame
dfVendas["ID_Campanha"] = -1
dfVendas.head(2)

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total,ID_Campanha
0,1,350,45,2022-09-23,4,Online,5795.64,-1
1,2,925,68,2024-02-09,1,Loja Física,4614.41,-1

In [4]:
#Atualizo os valores da coluna "ID_Campanha" conforme a Campanha Ativa na data da Venda
dfVendas.loc[(dfVendas["Data"] >= "2022-01-01") & (dfVendas["Data"]<="2022-03-09"), "ID_Campanha"] = 12
dfVendas.loc[(dfVendas["Data"] >= "2022-03-10") & (dfVendas["Data"]<="2022-05-16"), "ID_Campanha"] = 2
dfVendas.loc[(dfVendas["Data"] >= "2022-05-17") & (dfVendas["Data"]<="2022-07-23"), "ID_Campanha"] = 8
dfVendas.loc[(dfVendas["Data"] >= "2022-07-24") & (dfVendas["Data"]<="2022-09-29"), "ID_Campanha"] = 17
dfVendas.loc[(dfVendas["Data"] >= "2022-09-30") & (dfVendas["Data"]<="2022-12-06"), "ID_Campanha"] = 11
dfVendas.loc[(dfVendas["Data"] >= "2022-12-07") & (dfVendas["Data"]<="2023-02-12"), "ID_Campanha"] = 3
dfVendas.loc[(dfVendas["Data"] >= "2023-02-13") & (dfVendas["Data"]<="2023-04-21"), "ID_Campanha"] = 19
dfVendas.loc[(dfVendas["Data"] >= "2023-04-22") & (dfVendas["Data"]<="2023-06-28"), "ID_Campanha"] = 7
dfVendas.loc[(dfVendas["Data"] >= "2023-06-29") & (dfVendas["Data"]<="2023-09-04"), "ID_Campanha"] = 14
dfVendas.loc[(dfVendas["Data"] >= "2023-09-05") & (dfVendas["Data"]<="2023-11-11"), "ID_Campanha"] = 5
dfVendas.loc[(dfVendas["Data"] >= "2023-11-12") & (dfVendas["Data"]<="2024-01-18"), "ID_Campanha"] = 18
dfVendas.loc[(dfVendas["Data"] >= "2024-01-19") & (dfVendas["Data"]<="2024-03-26"), "ID_Campanha"] = 16
dfVendas.loc[(dfVendas["Data"] >= "2024-03-27") & (dfVendas["Data"]<="2024-06-02"), "ID_Campanha"] = 9
dfVendas.loc[(dfVendas["Data"] >= "2024-06-03") & (dfVendas["Data"]<="2024-08-09"), "ID_Campanha"] = 4
dfVendas.loc[(dfVendas["Data"] >= "2024-08-10") & (dfVendas["Data"]<="2024-10-16"), "ID_Campanha"] = 20
dfVendas.loc[(dfVendas["Data"] >= "2024-10-17") & (dfVendas["Data"]<="2024-12-23"), "ID_Campanha"] = 10
dfVendas.loc[(dfVendas["Data"] >= "2024-12-24") & (dfVendas["Data"]<="2025-03-01"), "ID_Campanha"] = 6
dfVendas.loc[(dfVendas["Data"] >= "2025-03-02") & (dfVendas["Data"]<="2025-05-08"), "ID_Campanha"] = 1
dfVendas.loc[(dfVendas["Data"] >= "2025-05-09") & (dfVendas["Data"]<="2025-07-15"), "ID_Campanha"] = 15
dfVendas.loc[(dfVendas["Data"] >= "2025-07-16") & (dfVendas["Data"]<="2025-09-27"), "ID_Campanha"] = 13

dfVendas

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total,ID_Campanha
0,1,350,45,2022-09-23,4,Online,5795.64,17
1,2,925,68,2024-02-09,1,Loja Física,4614.41,16
2,3,915,75,2022-09-11,4,Online,2057.48,17
3,4,494,47,2024-05-10,4,Loja Física,12864.44,9
4,5,523,79,2023-10-15,4,Loja Física,13317.28,5
...,...,...,...,...,...,...,...,...
19995,19996,179,88,2024-04-29,1,Loja Física,247.13,9
19996,19997,702,8,2023-05-01,2,Online,581.60,7
19997,19998,163,47,2022-01-11,1,Online,3216.11,12
19998,19999,593,6,2022-11-22,2,Online,6312.68,11
19999,20000,170,7,2023-03-03,1,Loja Física,3835.28,19

In [6]:
#Exporto os dados para um arquivo CSV
dfVendas.to_csv("dfVendas.csv", sep=",", index=False)